@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --background: #d9e2cf;
  --foreground: #1f1f1fd7;
  --swamp-color: #8f995f;

  --green-black: #4C5C13;
  --green-light: #D9E694;

  --orange-black: #E6543B;
  --orange-light: #F3CCAF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  margin: auto;
  max-width: 600px;
  padding: 0;
  color: var(--foreground);
  
  & p {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.4;
  }
}
